@font-face {
  font-family: HelveticaNeue;
  src: url("../assets/fonts/HelveticaNeue/HelveticaNeueCyr-Light.otf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: HelveticaNeue-Medium;
  src: url("../assets/fonts/HelveticaNeue-Medium/HelveticaNeue-Medium/HelveticaNeue-Medium.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: HelveticaNeue-Bold;
  src: url("../assets/fonts/HelveticaNeue/HelveticaNeueCyr-Bold.otf") format("truetype");
  font-style: normal;
  font-weight: normal;
}