$font_family_regular: HelveticaNeue;
$font_family_medium: HelveticaNeue-Medium;
$font_family_bold: HelveticaNeue-Bold;

$font_size_small: 11px;
$font_size_medium: 13px;
$font_size_large: 15px;

$blue_btn_color: #007DFF;
$blue_btn_hover_color: #0059FF;
$blue_btn_active_color: #0B00FF;
$blue_btn_disabled_color: #E9ECEF;

$gray_btn_color: #f2f3f4;
$gray_btn_hover_color: #E9ECEF;
$gray_btn_active_color: #dcdfe3;
$gray_btn_disabled_color: #E2E5E8;

$gray_text_color: #858E98;
$table_indent_color: #F6F7F9;

$free_slot_btn_hover_color: #1D54FE;
$free_slot_btn_active_color: #1D00FE;
$booked_slot_btn_color: #D5DFE9;
$booked_slot_btn_hover_color: #98A9B9;
$booked_slot_btn_active_color: #8594A2;

$conference_room_name_hover_color:#0070E0;
$conference_room_name_active_color:$free_slot_btn_hover_color;

$breakpoints: (
        'medium': (min-width: 800px),
        'large': (min-width: 1000px),
        'huge': (min-width: 1200px),
);

$line_height_nav: 45px;
$line_height_floor_label: 40px;
$page_padding_left: 20px;