@import 'abstracts/*';
//@import 'vendors/*';
@import 'base/*';
@import 'layout/*';
@import 'components/*';
@import 'pages/*';
@import 'themes/*';


body {
  margin: 0 auto;
}

.header {
  padding: 20px;
  line-height: 36px;
  border-bottom: 1px solid $gray_button_color;


  &__logo {
    display: inline-block;
    vertical-align: middle;
  }
}


.sidebar {
  display: inline-block;
}

.nav {
  display: inline-block;
  border-bottom: 1px solid $gray_button_color;
  line-height: $line_height_nav;

  &__label {
    display: inline-block;
    font-size: $font_size_large;
    letter-spacing: 0;
    font-family: $font_family_medium;
  }
}

.conference-list-sidebar {
  padding: 0 2%;
  display: inline-block;
  width: 245px;
  min-height: 658px;
  border-right: 1px solid $gray_button_color;
}

.floor {
  padding-top: 20px;
  &__label {
    padding-bottom: 7px;

    font-size: $font_size_small;
    letter-spacing: 0.4px;
    font-family: $font_family_bold;
    text-transform: uppercase;
    color: $booked_room;
  }
}

.room {
  font-family: $font_family_medium;
  font-size: $font_size_large;
  line-height: 17px;
  cursor: pointer;
  padding-bottom: 21px;

  &:last-child {
    padding-bottom: 0;
  }

  &__capacity {
    font-family: $font_family_regular;
    font-size: $font_size_medium;
    line-height: 17px;
  }

  &_available {
    color: black;
  }

  &_booked {
    color: $booked_room;
  }

  &_active {
    color: $active_room;
  }
}

.timetable {
  display: inline-block;
  position: absolute;
}

table {
  min-width: 500px;
  border-collapse: collapse;
  background: #FFFFFF;
}

tr.timetable__indent  {
  background: $table_indent_color;

  &:last-child{
    height: 100px;
  }
}

tr:nth-child(1) {
  height: 40px;
}

td {
  width: 48px;
  height: 27px;
  padding: 0;
  border-right: 1px solid $gray_button_color;
  border-bottom: 1px solid $gray_button_color;
}

.timetable-th {
  display: flex;
  justify-content: space-around;
  line-height: $line_height_nav;
  border-bottom: 1px solid $gray_button_color;


  &__time {
    font-family: $font_family_bold;
    font-size: 11px;
    color: #252525;
    letter-spacing: 0.4px;
  }

}