@import 'abstracts/*';
//@import 'vendors/*';
@import 'base/*';
@import 'layout/*';
@import 'components/*';
@import 'pages/*';
@import 'themes/*';

body {
  margin: 0 auto;
}

.header {
  padding: $page_padding_left;
  line-height: 36px;
  border-bottom: 1px solid $gray_btn_color;

  &__logo {
    display: inline-block;
    vertical-align: middle;
  }
}


.conference-list {
  padding-left: $page_padding_left;
  padding-right: $page_padding_left;
  border-right: 1px solid $gray_btn_color;
}

.floor {
  &__label {
    font-size: $font_size_small;
    letter-spacing: 0.4px;
    font-family: $font_family_bold;
    text-transform: uppercase;
    color: $gray_text_color;
    line-height: $line_height_floor_label;
  }
}

.conference-room {
  font-family: $font_family_medium;
  font-size: $font_size_large;
  line-height: 17px;
  cursor: pointer;
  padding-bottom: 21px;
  color: #000000;

  &__capacity {
    font-family: $font_family_regular;
    font-size: $font_size_medium;
    line-height: 17px;
  }

  &__name:hover {
    color: $conference_room_name_hover_color;
  }
  &__name:active {
    color: $conference_room_name_active_color;
  }

  &:last-child {
    padding-bottom: 0;
  }
}

.disabled {
  pointer-events: none;
  color: $gray_text_color !important;
}

.timetable {
  display: inline-block;
  width: 100%;
}

table {
  width: 100%;
  border-collapse: collapse;
  background: #FFFFFF;

}

tr.timetable__indent {
  background: $table_indent_color;

  &:last-child {
    height: 100px;
  }
}
th {
  height: 43px;
}

tr:nth-child(1) {
  height: $line_height_floor_label;
}
td:nth-child(1) {
  width: 28px;
}

td {
  width: 56px;
  height: 27px;
  padding: 0;
  border-right: 1px solid $gray_btn_color;
  border-bottom: 1px solid $gray_btn_color;
}

.timetable-th {
  display: inline-block;
  line-height: $line_height_nav;
  border-bottom: 1px solid $gray_btn_color;
}