body {
    margin: 0 auto;
}
.button {
    font-family: "HelveticaNeue-Medium";
    border-radius: 4px;
    border:none;
    cursor: pointer;
}
.theme_light_blue {
    background: #007DFF;
    color: #FFFFFF;
}
.header {
    margin: 15px;
    margin-right: 1.9%;
    margin-left: 1.9%;
    line-height: 36px;
}
.header__logo {
    display: inline-block;
    vertical-align: middle;
}
.header__button {
    letter-spacing: 0;
    font-size: 13px;
    width: 140px;
    height: 36px;
    float: right;

}


.nav{
    background: #E9ECEF;
    border-radius: 100px;
    width: 24px;
    height: 24px;
}
.schedule-bar {
    border-top: 1px solid #E9ECEF;
    border-bottom: 1px solid  #E9ECEF;
}









@font-face {
    font-family: "HelveticaNeue-Medium";
    src: url("fonts/HelveticaNeue-Medium/HelveticaNeue-Medium/HelveticaNeue-Medium.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}