$font_regular: "HelveticaNeue";
$font_medium: "HelveticaNeue-Medium";
$font_bold: "HelveticaNeue-Bold";

body {
  margin: 0 auto;
  font-family: $font_regular;
}
.header {
  padding: 1.9%;
  line-height: 36px;
}
.button {
  border-radius: 4px;
  border:none;
  cursor: pointer;
  color: #FFFFFF;
  font-family: $font_regular;
}
.header__button {
  letter-spacing: 0;
  font-size: 13px;
  width: 140px;
  height: 36px;
  float: right;
}
.theme_light_blue {
  background: #007DFF;
}
.header__logo {
  display: inline-block;
  vertical-align: middle;
}
.schedule-bar {
  padding: 1.9%;
  border-top: 1px solid #E9ECEF;
  border-bottom: 1px solid  #E9ECEF;
}
.nav {
  display: inline-block;
}
.nav__label {
  display: inline-block;
  font-size: 15px;
  letter-spacing: 0;
}
.nav__button {
  background-color: #E9ECEF !important;
  border-radius: 100px;
  width: 24px;
  height: 24px;
  display: inline-block;
  vertical-align: middle;
}
.arrow_left {
  background: url("../assets/arrow2.svg") no-repeat;
  background-position: 39% 50%;
}
.arrow_right {
  background: url("../assets/arrow.svg") no-repeat;
  background-position: 51% 50%;
}
.conference-hall-list {
  display: inline-block;
  width: 245px;
  min-height: 658px;
}
.timetable {
  display: inline-block;
}
.font_medium{
  font-family: $font_medium;
}
.font_regular{
  font-family: $font_regular;
}
.font_bold{
  font-family: $font_bold;
}
.conference-hall-list{
  padding-left: 2%;
  padding-top: 2.9%;
}
.conference-hall-list__level {
  font-size: 11px;
  letter-spacing: 0.4px;
}
.grey{
  color: #858E98;
}







@font-face {
  font-family: "HelveticaNeue-Medium";
  src: url("../fonts/HelveticaNeue-Medium/HelveticaNeue-Medium/HelveticaNeue-Medium.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "HelveticaNeue-Bold";
  src: url("../fonts/HelveticaNeue/HelveticaNeueCyr-Bold.otf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "HelveticaNeue";
  src: url("../fonts/HelveticaNeue/HelveticaNeueCyr-Light.otf") format("truetype");
  font-style: normal;
  font-weight: normal;
}